img {
    width: 14.5rem;
    height: 11rem;
    border-radius: 8px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.5;
}

.button {
    background-color: white;
    border: 1px solid #808080;
    border-radius: 4px;
    text-decoration: none;
    color: green;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.27rem 1.4rem;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mytransition {
    transition: .10s opacity linear
}

.quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    color: green;
}

.quantity__minus,
.quantity__plus {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

.quantity {
    height: 30px;
    width: 70px;
    border-top: 1px solid #dee0ee;
    border-bottom: 1px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 1px solid #dee0ee;
    text-align: center;
}